ACTION=="change", SUBSYSTEM=="drm", ENV{DEVTYPE}=="drm_minor", RUN+="/bin/bash -c 'export DISPLAY=:0; export XAUTHORITY=/home/xir/.Xauthority; /home/xir/.config/i3/scripts/monitor-hotplug.sh'"
